html
  head
    link(rel='stylesheet', href='/static/index.css')
  body
    input#search(type='text')
    button#submit
    ul
      each tweet in tweets
        li=tweet.tweet_text
    script(src='/static/index.js')