* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  text-align: center;
}

.search {
  display: flex;
}

label {
  align-self: center;
}

#searchBar {
  flex: 1 1 auto;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
}

#searchButton {
  cursor: pointer;
}