* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0 2rem;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: #9c9c9c;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  right: 0;
  top: 0;
  border-style: ridge;
}

h1{
  color:black;
  font-size:-webkit-xxx-large;
  font-family:monospace;
  text-shadow: 2px 2px #a90707;
}

h2{
  color:black;
  text-shadow: 1px 1px #a90707;
  font-family:monospace;
}

h3 {
  font-size:medium;
  font-family:monospace;
}

.search {
  display: flex;
  font-family:monospace;
}

label {
  align-self: center;
}

#searchBar {
  border: 0.1rem solid lightgray;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-right: none;
  flex: 1 1 auto;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  box-shadow: 3px 4px #777777;
  font-family:monospace;
}

#searchButton {
  background-color: #c03e3e;
  border: 0.1rem solid #840a0a;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0.5rem;
  border-left: none;
  color: black;
  cursor: pointer;
  box-shadow: 3px 4px #757575;
}

ul {
  list-style: none;
  margin-top: 33rem;
  display: inline-block;
}

li {
  margin: 2rem 0;
  padding: 10px;
  font-family:-webkit-;
  border-top: 2px dotted #cabcbc;
}

a {
  margin: 0 2rem;
}

@media (min-width: 512px) {
  ul {
    margin-top: 27rem;
  }
}

@media (min-width: 768px) {
  ul {
    margin-top: 22rem;
  }
}
